webservice/src/main/resources/com/antazri/webservice/xsd/author.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" id="author">

<xs:complexType name="author">
    <xs:sequence>
        <xs:element name="id" type="xs:int" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
    </xs:sequence>
</xs:complexType>

</xs:schema>