webservice/src/main/resources/com/antazri/webservice/xsd/category.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" id="category">

    <xs:complexType name="category">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="title" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>