webservice/src/main/resources/com/antazri/webservice/xsd/extension.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" id="extension">

    <xs:complexType name="extension">
        <xs:sequence>
            <xs:element name="maxExtension" type="xs:int" />
            <xs:element name="selectExtension" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>