webservice/src/main/resources/com/antazri/webservice/xsd/fault.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" id="fault">

    <xs:complexType name="fault">
        <xs:sequence>
            <xs:element name="faultCode" type="xs:string" />
            <xs:element name="faultString" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>